
* {
  background-color: #ECEBF3;
}
#App {
  margin-bottom: 60px;
}

#Content {
  text-align: center;
  /* flex-direction: column; */
  /* justify-content: center; */
}

 html {
  scroll-behavior: smooth;
}

p{
  width: 50%;
  margin: auto;
  line-height: 1.5;
  font-size: medium;
}






/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
